$space-top: to-rem(208px);

.view--who-we-are {
    position: relative;
    padding-top: $space-top;

    background-image: url('./../../assets/images/png/who_we_are-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $bg-light;

    .view--who-we-are__main-title {
        color: #5959C3;

        font-size: to-rem(68px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        max-width: to-rem(591px);

        margin-bottom: to-rem(62px);
    }

    .view--who-we-are__main-text {
        max-width: to-rem(416px);

        color: #363636;

        font-size: to-rem(24px);
        font-style: normal;
        font-weight: 400;
        line-height: 121.5%;

        margin-bottom: to-rem(62px);
    }

    .view--who-we-are__list-content {
        padding-top: to-rem(50px);
        padding-left: to-rem(60px);

        li {
            display: block;
            margin-bottom: to-rem(42px);

            strong {
                color: $cometa;
                font-size: to-rem(18px);
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                display: block;

                margin-bottom: to-rem(8px);
            }

            span {
                color: #5B5B7C;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                display: block;
            }
        }
    }
}