$space-top: to-rem(208px);

html {
  overflow: hidden;
}

html,
body,
.main {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.view {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.back-button {
  position: absolute;
  top: to-rem(87px);
  left: to-rem(50px);

  background-color: rgba(255, 255, 255, 0.50);

  width: to-rem(182px);
  height: to-rem(58px);

  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: to-rem(9px) to-rem(20px);

  span {
    color: #000;
    font-size: to-rem(24px);
    font-weight: 500;

    display: inline-block;
    margin-left: to-rem(18px);
  }
}

.qr-code-reveal {
  position: absolute;
  top: $space-top;
  right: 0;
  z-index: 9;
  transition: ease .1s;
  transform: translateX(182px);

  z-index: 9;

  transition: ease 0.1s;

  &.qr-code-reveal--show {
    transform: translateX(0);
  }
}